<%-include('partials/header.ejs')%>
<div class="h2">
    <h2>Kindly fill the following forms</h2>
</div>

<div class="progress-fix">
    <div>
        <div class="steps">
            <% for(let i = 0; i < 7; i++) { %> <!-- Loop 0 to 6 for 7 steps -->
                <div class="extra"><div class="step <%= (i + 1) === step ? 'active' : '' %> <%= (i + 1) < step ? 'pre-active' : '' %>"></div> <!-- Display 1-7 -->
            <% } %>
        </div>
    </div>

    <span></span>
    <div class="progress-container">
        <div class="progress-bar" style="width: <%= ((step -1) / 6) * 100 %>%"></div>
    </div>
</div>

<iframe src="/render-step/<%= step %>" width="100%" height="600px" style="border: none;" id="form-iframe"></iframe>


<script>
    

    
</script>
<%-include('partials/footer.ejs')%>